<li>
  <div class="flex flex-col gap-1">
    <div class="flex gap-2 items-center items-baseline-last">
      <svg id="avatar"></svg>
      <span data-element="user" class="font-bold text-sky-800">{{user}}</span>
      <span class="text-sm text-zinc-500">{{date}}</span>
    </div>
    <span class="pl-[36px] text-[14px]">
      {{{text}}}
    </span>
  </div>
</li>
